
<div class="main-visual">

</div>






<div class="about-closet">



</div>

<div class="collection">
<div class="box-1"></div>
<div class="box-2"></div>


</div>


<div class="cordinate">
<div class="a">
  <div class="b"><img class="c" src="/assets/5086926_s.jpg" ></div>
    <div class="b"><img class="c" src="/assets/4771511_s.jpg" ></div>
    <div class="b"><img class="c" src="/assets/22026459_s.jpg" ></div>
    <div class="b"><img class="c" src="/assets/4906649_s.jpg" ></div>
    <div class="b"><img class="c" src="/assets/5085364_s.jpg" ></div>
    <div class="b"><img class="c" src="/assets/4906963_s.jpg" ></div>

</div>

</div>




<div class="check-user">

<div class="box-3"></div>
<div class="box-4"></div>

</div>