/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


body {
  font-family: Miryo;
  background-color: white;
  min-height: 100vh;
  position: relative;
    box-sizing: border-box;

}

header {
  border-bottom: solid white;
  background-color: steelblue;
  height: 70px;
  color: white;
  width: 100%;
}

.logo {
  color: white;
  font-size: 40px;
}

.logo:hover {
  color: white;
  text-decoration: none;
}

.menu {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.side-item {
  color: black;
  font-size: 20px;
}

.sidebar {
  font-size: 14px;
}

.heading {
  color: steelblue;
  text-align: center;
}

footer {
  width: 100%;
　height: 100px;
  position: absolute;
  border-top: solid white;
  bottom: 0;
  font-weight: bold;
  color: white;
  background-color: steelblue;
}

.favo {
  height: 20px;
}

.profile {
  border-radius: 50%;
}


.Toggle{
 display: none;
}


.menu {
 -webkit-transform: translateX(0);
 transform: translateX(0);
}

@media screen and (max-width:425px) {

.searchbar {
  display: none;
}

/*トグルボタンのスタイルを指定*/
.Toggle {
    display: block;
    position: fixed;    /* bodyに対しての絶対位置指定 */
    width: 42px;
    height: 42px;
    cursor: pointer;
  right: 50px;
  top: 15px;
}

.Toggle span {
    display: block;
    position: absolute;
    width: 50px;
    border-bottom: solid 4px #ffffff;
    -webkit-transition: .35s ease-in-out; /*変化の速度を指定*/
    -moz-transition: .35s ease-in-out;    /*変化の速度を指定*/
    transition: .35s ease-in-out;     /*変化の速度を指定*/

}

.Toggle span:nth-child(1) {
    top:5px;
}

.Toggle span:nth-child(2) {
    top: 18px;
}

.Toggle span:nth-child(3) {
    top: 32px;
}



.Toggle.active span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.Toggle.active span:nth-child(2),
.Toggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.side-menu{
  transition: .5s ease;/*滑らかに表示*/
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);/*左に隠しておく*/
  z-index: 10;
  position: relative;
}

.side-menu.open {
 -webkit-transform: translateX(0%);
 transform: translateX(0%);/*中身を表示（右へスライド）*/
 z-index: 10;
   position: relative;
   margin-top: 0;
}

.contents {
  transition: .5s ease;/*滑らかに表示*/
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);/*左に隠しておく*/
 z-index: 3;
   position: relative;

}

.contents .open {
 z-index: 3;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);/*左に隠しておく*/
    position: relative;
}



}

